*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

menu {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
button,
input,
label,
select,
textarea {
  outline: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
  background: none;
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
}

body {
  font-style: normal;
  font-weight: normal;
  margin: 0;
}